html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}
@media (min-width: 481px) {
     .container {
        width: 400px;
    }
}
paper-button {
    width: 100%;
}
core-scaffold core-toolbar {
    background: #3E50B4 !important;
    color: #FFFFFF;
}

responsive-calendar::shadow #content paper-button.days.currentDate{
color: #9c27b0 !important;
}
responsive-calendar::shadow #content paper-button.days.core-selected{
    color: #F50057;
}

.float-bottom-button{
    margin-top: 5px;
    left:calc(98% - 40px);
    position: absolute;
}

@media (min-width: 1100px){

   responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 15% 4px;

    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 10% 4px;

    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 5% 4px;

    }
}
@media (min-width: 800px) and (max-width: 900px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 1% 4px;

    }
}
@media (min-width: 770px) and (max-width: 800px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 4% 8px;

    }
}
@media (min-width: 636px) and (max-width: 770px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 2% 8px;

    }
}
@media (min-width: 601px) and (max-width: 636px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: 2% 10px;

    }
}
@media (max-width: 400px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: 2% 10px;

    }
}
@media (min-width: 401px)  and (max-width: 500px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 2% 8px;

    }
}
@media (min-width: 500px)  and (max-width: 600px) {
    responsive-calendar::shadow #content paper-button.days.core-selected::shadow .button-content {
        background-image: url("../images/thumsbup.svg");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 5% 8px;

    }
}